.vs__container {
  margin: 20px 0;
}

.vs__container .vs__container--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 15px;
  background-color: #e0e0e0;

}

.vs__container .vs__container--title span {
  color: #999;
}

.vs__container .vs__container--title a {
  color: #999;
  text-decoration: none;
}

.vs__container--content .video-js {
  margin: 0 auto;
  width: 100%;
}
